body {
    height:100%;
}

#profile-wrap
{
    width:1000px;
    margin:0 auto;
}

#profile-sidebar 
{
    display:inline-block;
    width:20%;
    float:left;
}

#profile-content
{
    display:inline-block;
    width:70%;
    float:left;
}

.clear {
    clear:both;
}